gym==0.14.0
imageio-ffmpeg
joblib
matplotlib
mujoco_py==2.1.2.14
numpy==1.22.0
tensorflow==2.13.1
tensorflow_probability==0.12.2
tf-agents==0.8.0
wandb
setuptools==59.5.0
mujoco==2.3.5
tensorboard==2.5.0
protobuf==3.20.0
